<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='/css/style.css'>
    <script src = '/js/jquery-1.9.1.js'></script>
    <script src = '/bootstrap/js/boostrap.js'></script>
    <title>Twitter BootStrap Demo</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>