<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Dog</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/new'>New Dog</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>